.header .btn {
  display: none;
}

.header {
  position: fixed;
  top: -15px;
  left: 0;
  height: 80px;
  width: 100%;
  padding-inline: 4px;
  padding-block: 24px;
  background-color: var(--bg-oxford-blue-2);
  z-index: 4;
}



.header.active {
  padding-block: 8px;
  box-shadow: var(--shadow-1);
  border-block-end: 1px solid var(--bg-prussian-blue);
  animation: slideIn 0.5s ease forwards;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar-list {
  display: flex;
  flex-direction: column;
}

.nav-open-btn,
.nav-close-btn {
  color: var(--text-wild-blue-yonder);
  font-size: 3.5rem;
}

.navbar {
  position: absolute;
  top: 0;
  right: -340px;
  max-width: 340px;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-oxford-blue-2);
  padding: 20px;
  z-index: 2;
  overflow-y: auto;
  visibility: hidden;
  transition: 0.25s var(--cubic-in);
}

.navbar.active {
  transform: translateX(-340px);
  visibility: visible;
  transition: 0.5s var(--cubic-out);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 15px;
  margin-block-end: 15px;
  border-block-end: 1px solid var(--border-prussian-blue);
}

.navbar-list {
  border-block-end: 1px solid var(--border-white-alpha-15);
}

.navbar-link {
  color: var(--text-alice-blue);
  font-weight: var(--weight-medium);
  padding-block: 10px;
}

.navbar-bottom {
  padding-block: 30px 20px;
  margin-block: 20px 25px;
  border-bottom: 1px solid var(--border-prussian-blue);
}

.navbar .profile-card {
  margin-block-end: 15px;
}

.navbar .profile-card .card-title {
  color: var(--text-columbia-blue);
  font-size: var(--fontSize-6);
  font-weight: var(--weight-semiBold);
}

.navbar .profile-card .card-subtitle {
  font-size: var(--fontSize-7);
}

.navbar .link-list {
  columns: 2;
  -webkit-columns: 2;
}

.navbar-bottom-link {
  color: var(--text-alice-blue);
  font-size: var(--fontSize-6);
  padding-block: 6px;
}

.copyright-text {
  color: var(--text-Serenade);
  font-size: var(--fontSize-8);
}

.navbar-link {
  color: var(--text-wild-blue-yonder);
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.navbar-link:hover,
.navbar-link:focus {
  color: var(--text-carolina-blue);
}

@media (min-width: 1200px) {
  .nav-open-btn,
  .navbar-top,
  .navbar-bottom,
  .copyright-text {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
  }

  .navbar-list {
    border-block-end: none;
    display: flex;
    gap: 40px;
    margin-inline: auto;
  }

  .header .btn {
    margin-inline-start: 0;
  }

  .navbar-link {
    color: var(--text-wild-blue-yonder);
    font-weight: unset;
  }

  .navbar-link:is(:hover, :focus-visible) {
    color: var(--text-carolina-blue);
    transform: translateX(0);
  }
}

@media screen and (min-width: 1200px) {
  .navbar-list {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
  }
  .navbar-list li {
    margin-left: 20px;
  }
}


.cart-count {
  color: white;
  padding: 3px 6px;
  font-size: 12px;
  margin-left: -2px;
}


/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--bg-cedar-wood-finish);
  color: var(--white);
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
  border: 3px solid var(--bg-christine);
  transition: var(--transition-1);
  visibility: hidden;
  opacity: 0;
  z-index: 4;
}

.back-top-btn:is(:hover, :focus-visible) {
  box-shadow: var(--shadow-2);
}

.back-top-btn.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(-10px);
}
